@import "tailwindcss";

body {
    @apply bg-sky-50;
}

input[type="text"] {
    @apply bg-gray-100 rounded px-2 py-2 shadow outline-none;
}

input[type="text"]:hover,
input[type="text"]:focus {
    @apply bg-gray-200;
}

h1 {
    @apply text-3xl mb-4;
}

button {
    @apply bg-sky-300 rounded px-2 py-2 cursor-pointer shadow;
}

button:disabled {
    @apply opacity-50;
}

button:hover {
    @apply bg-sky-400;
}

a {
    @apply cursor-pointer text-sky-600;
}

a:hover {
    @apply underline;
}
